img[src$='#floatleft']
{
    float:left;
    max-width: 30%;
    padding: 10px;
}

img[src$='#floatleft-big']
{
    float:left;
    max-width: 50%;
    padding: 10px;
}

img[src$='#floatright']
{
    float:right;
    max-width: 30%;
    padding: 10px;
}

img[src$='#floatright-big']
{
    float:right;
    max-width: 50%;
    padding: 10px;
}

img[src$='#center']
{
    float: center;
    max-width: 80%;
    padding: 20px;
    margin: 0px auto;
}



.cite {
   color: #AAA;
}
